body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ECEFF1
}
/* header of the page */
h1{
    font-size: 30px;
    color:rgb(38 50 72);
    text-align: center;
}

img{
    height: 60px;
    width: 150px;
    position: absolute;
}

hr{
    margin-top:  2%;
    
}

/* meue */
.optionClass{
    display: grid;
    grid-template-columns: auto auto auto;
}

#colSelector{
    margin-right: 30%;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}

input{
    margin-right: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    margin-right: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border:2px #979a9f solid; 
    background-color:#c4c8cd;
}

/* columns */
.columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

.col1, .col2, .col3 {
    margin-right: 30%;
}

.square1 {
    border: 2px #A1D6CB solid;
    background-color: #A1D6CB;
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    margin-top: 30px;
}

.square2 {
    border: 2px #FF8383 solid;
    background-color: #FF8383;
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    margin-top: 30px;
}

.square3 {
    border: 2px #A19AD3 solid;
    background-color: #A19AD3;
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    margin-top: 30px;
}

h2 {
    margin-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#wwc li {
    background-color: #A1D6CB;
}

#cfc li {
    background-color: #FF8383;
}

#aic li {
    background-color: #A19AD3;
}