.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.heading {
    text-align: center;
    margin-top: -3rem;
}

img {
    width: 5rem;
}

.form {
    text-align: center;
}

.dropdown {
    text-align: center;
}

.dot {
    color: rgb(45, 199, 56);
    background-color: rgb(45, 199, 56);
    border: black solid;
    padding: 5px;
    position: absolute;
}

.dot {
    color: rgb(45, 199, 56);
    background-color: rgb(45, 199, 56);
    border: black solid;
    padding: 5px;
    position: absolute;
}

.dot {
    color: rgb(45, 199, 56);
    background-color: rgb(45, 199, 56);
    border: black solid;
    padding: 5px;
    margin-top: 22px;
    position: absolute;
}

.dot1 {
    color: rgb(223, 28, 28);
    background-color: rgb(223, 28, 28);
    border: black solid;
    padding: 5px;
    margin-top: 22px;
    position: absolute;
}

.dot2 {
    color: rgb(30, 73, 166);
    background-color: rgb(30, 73, 166);
    border: black solid;
    padding: 5px;
    margin-top: 22px;
    position: absolute;
}

h3 {
    margin-left: 1.1rem;
}

.wwcSection h5 {
    color: white;
    background-color: rgb(45, 199, 56);
    padding: 8px;
    font-size:medium;
}

.cfSection h5 {
    color: white;
    background-color: rgb(223, 28, 28);
    padding: 8px;
    font-size:medium;
}

.alSection h5 {
    color: white;
    background-color: rgb(30, 73, 166);
    padding: 8px;
    font-size:medium;
}

.delete-btn{
    background-color:transparent; 
    position: absolute;
    border: none;
}