.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.heading {
  text-align: center;
  margin-top: -3rem;
}

img {
  width: 5rem;
}

.form {
  text-align: center;
}

.dropdown {
  text-align: center;
}

.dot {
  color: rgb(45, 199, 56);
  background-color: rgb(45, 199, 56);
  border: black solid;
  padding: 5px;
  position: absolute;
}

.dot {
  color: rgb(45, 199, 56);
  background-color: rgb(45, 199, 56);
  border: black solid;
  padding: 5px;
  position: absolute;
}

.dot {
  color: rgb(45, 199, 56);
  background-color: rgb(45, 199, 56);
  border: black solid;
  padding: 5px;
  margin-top: 22px;
  position: absolute;
}

.dot1 {
  color: rgb(223, 28, 28);
  background-color: rgb(223, 28, 28);
  border: black solid;
  padding: 5px;
  margin-top: 22px;
  position: absolute;
}

.dot2 {
  color: rgb(30, 73, 166);
  background-color: rgb(30, 73, 166);
  border: black solid;
  padding: 5px;
  margin-top: 22px;
  position: absolute;
}

h3 {
  margin-left: 1.1rem;
}

.wwcSection h5 {
  color: white;
  background-color: rgb(45, 199, 56);
  padding: 8px;
  font-size: medium;
  border-radius: 3px;
}

.cfSection h5 {
  color: white;
  background-color: rgb(223, 28, 28);
  padding: 8px;
  font-size: medium;
  border-radius: 3px;
}

.alSection h5 {
  color: white;
  background-color: rgb(30, 73, 166);
  padding: 8px;
  font-size: medium;
  border-radius: 3px;
}

.delete-btn {
  background-color: transparent;
  position: absolute;
  border: none;
}
.PostBttn {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

.PostBttn:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929,
    inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}